<%= form_with(model: reservation) do |form| %>
  <% if reservation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :reservation_date, style: "display: block" %>
    <%= form.date_field :reservation_date %>
  </div>

  <div>
    <%= form.label :appointment_id, style: "display: block" %>
    <%= form.text_field :appointment_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
